.transacao{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
}

.transacao>img{
    grid-column: 1/2;
}
.start{
    grid-column: 2/4;
    text-align: left;
    margin: 0.15rem;
}
.end{
    grid-column: 4/6;
    text-align: right;
    margin: 0.15rem;
}
.transacao>p{
    font-size: 0.6rem;
}
p{
    color: darkgray;
    font-size: 1rem;
}
img{
    width: 2rem;
    height: 2rem;
    margin: 0.15rem;
}
