<div class="container_center">
  <div class="container_grid_menu">
    <div class="container_menu">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="container_grid_infos">
    <div class="container_infos">
      <div class="container_info_1">
        <app-charts [minhasContas]="contas" (id)="id = $event"></app-charts>
      </div>
      <div class="container_info_2">
        <app-transactions [transacao]="contas[id].transacoes"></app-transactions>
      </div>
      <div class="container_info_3">
        <app-big-chart [conta]="contas[id]"></app-big-chart>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
