.container_center {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 140vh;
    height: 90vh;
    border: 1vh solid black;
}

.container_grid_menu {
    grid-area: 1 / 1 / 7 / 2;
}

.container_grid_infos {
    grid-area: 1 / 2 / 7 / 8;
}

.container_menu {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(213, 195, 195);
}
.container_infos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.container_infos>div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_infos>div>*{
    height: 100%;
    width: 100%;
}
.container_info_1 {
    grid-area: 1 / 1 / 3 / 7;
    border: 1px solid rgb(213, 195, 195);
}

.container_info_2 {
    grid-area: 3 / 1 / 7 / 3;
    border: 1px solid rgb(213, 195, 195);
}

.container_info_3 {
    grid-area: 3 / 3 / 7 / 7;
    border: 1px solid rgb(213, 195, 195);
}