.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vw;
    overflow-x: auto; /* permite rolagem horizontal */
    padding: 1vh 1vw;
    box-sizing: border-box;
}

.account-card {
    flex: 0 0 auto; /* impede de encolher, mas permite scroll lateral */
    width: 28%;
    height: 100%;
    min-width: 40%;
    max-width: 30vw;
    background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
    border: 1px solid #ddd;
    border-radius: 2vw;
    padding: 2vh 2vw;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    transition: all 0.3s ease;
    
}

.account-card:hover {
    box-shadow: 0 0.6vh 1.8vh rgba(0, 0, 0, 0.12);
    transform: translateY(-0.4vh);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.card-header h2 {
    margin: 0;
    font-size: 1.4vw;
    color: #333;
}

.card-icon {
    font-size: 1.8vw;
}

.card-balance,
.card-expense {
    margin-top: 1.5vh;
}

.label {
    font-size: 0.9vw;
    color: #777;
}

.value {
    margin: 0.3vh 0 0;
    font-size: 1.2vw;
}

.saldo {
    color: #2e7d32;
    font-weight: bold;
}

.gasto {
    color: #c62828;
    font-weight: bold;
}
button {
    all: unset;
    cursor: pointer; /* opcional */
  }
