<div class="card-container">
  <div class="account-card" *ngFor="let conta of minhasContas">
    <button (click)="idButton(conta.id)">
      <div class="card-header">
        <h2>{{conta.nomeConta}}</h2>
        <div class="card-icon">💳</div>
      </div>

      <div class="card-balance">
        <p class="label">Saldo atual</p>
        <p class="value saldo">R$ {{conta.saldoConta}}</p>
      </div>

      <div class="card-expense">
        <p class="label">Gastos do mês</p>
        <p class="value gasto">R$ {{conta.gastosUltimoMes}}</p>
      </div>
    </button>
  </div>
</div>