* {
    height: 100%;
    width: 100%;
}

.container_coisas {
    /*Inicialização padrão*/
    display: flex;
    overflow-y: hidden;
}

.container_coisas>app-chart {
    border-right: 1px solid rgb(213, 195, 195);
}

p {
    margin-left: 0.3rem;
    color: darkgray;
    font-size: 1rem;
}