<div class="container_menu_bar">
    <div class="header">
        <h1 class="titulo">Financeiro</h1>
    </div>
    <div class="body">
        <div class="container_menu_general">
            <h1 class="menu_titulo_options">Geral</h1>
            <app-options [name]="'Geral'" [image]="'assets/casa.png'"></app-options>
            <app-options [name]="'Coisas'"></app-options>
            <app-options></app-options>
            <app-options></app-options>
        </div>
        <div class="container_menu_personal">
            <h1 class="menu_titulo_options">Outros</h1>
            <app-options></app-options>
            <app-options></app-options>
        </div>
    </div>

    <div class="footer">
        <h2>Log out</h2>
    </div>
</div>