<div class="menu-bar">
    <header class="menu-header">
        <h1 class="menu-title">Financeiro</h1>
    </header>

    <nav class="menu-body">
        <div class="menu-section">
            <h2 class="menu-section-title">Geral</h2>
            <app-options [name]="'Contas'" [icon]="'chart-pie'"></app-options>
            <app-options [name]="'Home'" [icon]="'Home'"></app-options>
        </div>
    </nav>

    <footer class="menu-footer">
        <span class="logout">Log out</span>
    </footer>
</div>